@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Mobile */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(235, 18%, 26%);
}

.container {
  width: 375px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.8);
}

.imgContainer {
  background-color: hsl(0, 0%, 100%);
}

.headerImgDesktop {
  display: none;
}

.contentContainer {
  padding: 2rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: hsl(234, 29%, 20%);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
  line-height: 1.5rem;
}

ul {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

li {
  background-image: url(./assets/images/icon-list.svg);
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 2.3rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}

li:last-child {
  padding-left: 2.3rem;
  padding-bottom: 0.125rem;
}

fieldset {
  border: none;
}

.legendDefault {
  font-size: 0.8rem;
  color: hsl(234, 29%, 20%);
  margin-bottom: 0.6rem;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid hsla(231, 7%, 60%, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

input::placeholder {
  color: hsla(231, 7%, 60%, 0.9);
}

button {
  width: 100%;
  padding: 1rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 10px 20px hsla(13, 100%, 62%, 0.4);
  background: linear-gradient(120deg, #ff5277, #ff673d);
}

/* Desktop */

@media (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
  }

  .imgContainer {
    height: 100%;
    order: 2;
    border-radius: 0 2rem 2rem 0;
    padding: 1.5rem 1.5rem 1.5rem 0rem;
  }

  .contentContainer {
    height: 641px;
    width: 500px;
    order: 1;
    padding: 5rem 4rem 4rem 4rem;
    border-radius: 2rem 0 0 2rem;
  }

  .headerImgMobile {
    display: none;
  }

  .headerImgDesktop {
    display: block;
  }

  .heading {
    font-size: 3.5rem;
  }
}

/* Desktop */

/* Error State */

.legendError {
  display: none;
  font-size: 0.8rem;
  color: hsl(4, 100%, 67%);
  margin-bottom: 0.6rem;
  font-weight: 700;
  margin-left: 172px;
}

.errorDisplay {
  width: 100%;
  padding: 1rem;
  border: 1px solid hsl(4, 100%, 67%);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  background-color: hsla(4, 100%, 67%, 0.1);
  color: hsl(4, 100%, 67%);
}

.errorDisplay::placeholder {
  color: hsl(4, 100%, 67%);
}

/* Error State */
